body {
  min-width:350px;
  overflow-x:hidden;
  font-family: "Lucida Grande", Arial, Ubuntu, sans-serif;
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  background: #f2f2f2;
}
a {
  color: #2e6dc8;
  text-decoration: none;
}
a:focus {outline:0;}
form {
  border: 0;
  margin: 0;
  padding: 10px;
  padding-left: 0;
  padding-right: 16px;
}

.btn {
  background-color:#0087D3;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  margin: 5px auto;
  padding:6px 24px;
  text-decoration:none;
}
.btn:hover {
  background-color:#1F69A1;
}
.btn:active {
  position:relative;
  top:1px;
}
.btn.success {
  background-color:#72BA53;
}

#header {
  top: 0;
  width: 100%;
  overflow: auto;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.mendeley-button {
  top: 0;
  margin-left: 9px;
}

#response {
  padding: 5px;
}

#summary {
  border-top: 1px solid black;
  padding: 10px;
}